# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y

# Partition table (OTA-ready)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# OTA rollback
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Core dump to flash
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Wi-Fi AP
CONFIG_ESP_WIFI_SSID="BAPTHIT"
CONFIG_ESP_WIFI_PASSWORD=""
CONFIG_ESP_WIFI_CHANNEL=1
CONFIG_ESP_WIFI_MAX_STA_NUM=8
